* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4edf4;

}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgb(175, 152, 114);
    background-color: rgb(229, 214, 189);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition:all 0.5s ease-in-out;
    left: 0;
    margin: 0;
}

.fixedHeader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.burger-menu{
    display: none;
    border-radius: 5px;
    float: right;
    margin-left: 25px;
}

.burger-menu .line{
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    margin: 5px 0;
    transition: transform 0.3s ease; 
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100px;
    background-color: gray;
    list-style: none;
    color: black;
    padding: 0;
    z-index: 1;
}
.dropdown-content li{
    display: block;
    text-align: center;
}
.dropdown-content li:hover{
    background-color: black;
    color: white;
}

.green-skates{
    position: relative;
    height: 100px;
    width: 100px;
}

.game-boy{
    position: relative;
    height: 100px;
    width: 100px;
}

.workout {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 200px;
    right: 350px;
}

.nose {
        height: 200px;
        width: 200px;
}

.duck {
    /* position: absolute; */
    height: 80px;
    width: 100px;
    display: inline;
    margin-left: 100px;
    /* bottom: -2270px; */
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 100px;

}

.card-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.main-card{
    display: block;
    margin: 20px;
    width: 60%;
    height: 500px;
    border: solid 2px rgb(166, 181, 150);
    box-sizing: border-box;
    background-color: rgb(191, 208, 172);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(166, 181, 150);
}
.main-sizing{
    flex: 1 0 60%;
}
.main-card-content{
    margin-top: 10px;
}

.card{
    display: block;
    margin: 20px;
    width: 75%;
    height: 300px;
    border: solid 2px rgb(166, 181, 150);
    box-sizing: border-box;
    width: 75%;
    overflow-y: auto;
    background-color: rgb(226, 238, 214);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(166, 181, 150);
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.card-content .image-container{
    flex: 1 0 30%;
    
}
.card-content .text-container{
    flex: 1 0 60%;
    padding-right: 2%;
    padding-left: 2%;  
}


.image-container{
    display: block;
    max-width: 16%;
    height: 70%;
    margin-top: 10px;
    margin-left: 10px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px black;
}

.menu-btn:hover{
    background-color: rgb(111, 83, 66);
    cursor: pointer;
    transform: scale(1.2);
}
.menu-btn:hover .line{
    background-color: white;
}

.menu-btn:focus{
    background-color: black;
}
.menu-btn:focus .line{
    background-color: white;
}

.menu-btn:focus-within .dropdown-content{
    display: block;
}

.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

.modal-content{
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    max-width: 600px;
    box-sizing: border-box;
    border-radius: 8px;
}

#postImage{
    display: none; 
    margin-top: 30%;
    max-width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical; 
}
.aside-sizing{
    flex: 1 0 30%;
}
aside h3{
    margin: 5px;
}

.asideFixed{
    position: fixed;
    margin: 15px 0 10px 10px;
    right: 0;
}

.asideFixedTop{
    position: fixed;
    top: 0;
    right: 0;
}

button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    width: 75px;
    height: 25px;
    background-color: #78a979;
    color: white;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #45a049;
}

.post {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border: solid 2px rgb(135, 122, 115);
   margin-bottom: 10px;
   border-radius: 5px;
}



.post a:hover {
    text-decoration: underline;
    color: purple;
}

.post-description {
    display: block;
}

.post a {
    color: rgb(99, 25, 25);
}

.delete-btn {
    background-color: #e5635a; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #c62828;
}

.scroll-box{
    background-color: white;
    text-align: center;
    padding: 2px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(175, 152, 114);
    overflow-y: auto;
    background-color: rgb(229, 214, 189);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(175, 152, 114);;
}

.aside-container{
    width: 12%;
    height: 85%;
    transition: width 0.5s ease, height 0.5s ease, padding 0.5s ease;
    
}
canvas {
    display: block;
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    margin: 0 auto 10px auto;
}

.palette {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.color {
    width: 15px;
    height: 15px;
    margin: 0;
   
    cursor: pointer;
    border: 1px solid #414141;
}

#brushSize{ 
    margin: 10px;
}

form h4{
    margin: 10px;
    padding: 0;
}

canvas:hover{
    cursor:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9" fill="%23FFF" stroke="%23000" stroke-width="2"></circle></svg>'), auto;
}

.post-icon{
    border: 1px solid black;
    background-color: white;
    margin: 2px;
    flex: 1 0 20%;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.post-icon:hover{
    position: absolute;
    transform: scale(3);
    z-index: 1;
}


.navbar{
    display: flex;
    margin-right: 2%;
}

.navbar a{
    display: inline-flex;
    margin: .5rem;
    padding: .2rem;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: #c8a687;
    border-radius: 5px;
}

.header-content {
    display: flex;
    flex: 1; /* Take up remaining space */
    justify-content: center; /* Center content */
    align-items: center;
    width: 100%;
}

#background-container {
    transition: background 1s ease;
}

.bg-sad {
    background-color: rgb(69, 69, 105);
}

.bg-happy {
    background-color: rgb(238, 227, 154);
}

@media (max-width: 767px){
    .aside-container{
        width: 25%;
        height: 95%;
    }
    .image-container{
        max-width: 32%;
    }
    .navbar{
        display: none;
    }
    .burger-menu{
        display: block;
    }

    .card{
        height: 700px;
    }

    .main-card {
        height: 700px;
    }
    .green-skates{
        display: none;
    }
    .workout {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .aside-container{
        width: 22%;
        height: 92%;
    }
    .image-container{
        max-width: 26%;
    }
    .navbar{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .card{
        height: 550px;
    }

    .main-card {
        height: 700px;
    }
    .green-skates{
        display: none;
    }
    .nose{
        display: none;
    }
    .workout {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .aside-container{
        width: 20%;
        height: 90%;
    }
    .image-container{
        max-width: 22%;
    }
    .navbar{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .card{
        height: 550px;
    }
    .green-skates{
        display: none;
    }
    .nose{
        display: none;
    }
    .workout {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 200px;
        right: 250px;
    }
}

@media (min-width: 1200px) and (max-width: 1499){
    .aside-container{
        width: 18%;
        height: 87%;
    }
    .image-container{
        max-width: 17%;
    }
    .navbar{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .nose{
        display: none;
    }
    .workout {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 200px;
        right: 250px;
    }
}

@media (min-width: 1500px){
    .aside-container{
        width: 12%;
        height: 85%;
    }
    .image-container{
        max-width: 15%;
    }
    .navbar{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}